// Header
.govuk-header {
    color: #0b0c0c;
    background: #fff;
}

.govuk-header__link:link, .govuk-header__link:visited {
    color: #0b0c0c;
}

// Footer
.govuk-footer {
    background: #fff;
}

// Panel
.govuk-panel--confirmation {
    color: #0b0c0c;
    background: #fff;
    border: 6px solid #0b0c0c;
}
